body {
    /* font-family: 'Prata', serif; */
    /* font-family: 'Elsie Swash Caps', cursive; */
    /* font-family: 'Libre Baskerville', serif; */
    /* font-family: 'EB Garamond', serif; */
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Vollkorn', serif;
  }
  .heading {
    font-weight: 700;
  }
  .subheading {
    font-weight: 300;
  }

  .nav-link {
    color: rgb(29, 28, 28);
     }  
     
.container{
  overflow: hidden;
  /* display: flex; */
  align-items: center;/*垂直居中*/
}

.shaped{
    /* float:left; */
    height:100%;
    width: 100%;
    float:right;
    background-image: url(pic/testa.jpg);
    background-size: cover;   
    shape-margin: 0%;
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    -webkit-shape-outside:polygon(100% 0, 0 0, 100% 100%);
    shape-outside: polygon(100% 0, 0 0, 100% 100%);
}

.imgdiv{
  height:100%;
  width:100%;
  z-index: -1
}

.hr{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display:inline-block; */
  /* height: 100%;
  width: 100%; */
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(255, 255, 255);
}

.view:hover .overlay {
  opacity: 0.8;
}

.view{
  display:inline-block
}

.img{
  display: block
}

.text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}

.carousel-control-next{
  filter: invert(50%);
}
.carousel-control-prev{
  filter: invert(50%);
}
.carousel-indicators{
  filter: invert(50%);
}



/*-- Sign Styles --*/


.word {
  text-shadow:
  0 0 6px rgba(202,228,225,0.92),
  0 0 30px rgba(202,228,225,0.34),
  /* 0 0 12px rgb(205, 220, 245); */
  0 0 12px rgba(86, 157, 233, 0.521);
  /* 0 0 34px rgba(30,132,242,0.78),
  0 0 54px rgba(30,132,242,0.92); */
    font-size: 1.2rem;
    color:rgb(67, 89, 216)
  }

  .content{
    font-size: 1.2rem
  }
  

  /* image grid */
  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 5vw);
    grid-gap: 15px;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}